#register, #login {
    width: 500px;
    border: 1px solid #d6d7da;
    padding: 30px;
    border-radius: 10px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }
  
  form label, form input {
    margin-bottom: 10px;
    width: 100%
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }